Repository elastic/apm, pull requests merged in 2020-08, with the labels that each got.

#304 Agent spec process
  .github/ISSUE_TEMPLATE/agents-discussion.md
  .github/ISSUE_TEMPLATE/agents-poll.md
  docs/agents/spec-process.md
Labels: agents

#317 feat(ci): support sending a PR to each agent when JSON specs are modified
  .ci/Jenkinsfile
  .ci/scripts/prepare-spec-changes.sh
Labels: agents, automation

#315 Split spec into multiple files
  .github/CODEOWNERS
  docs/agents/agent-development.md
  docs/graphql-example.png
  specs/agents/README.md
  specs/agents/configuration.md
  specs/agents/error-tracking.md
  specs/agents/log-correlation.md
  specs/agents/metadata.md
  specs/agents/metrics.md
  specs/agents/process-new-fields.md
  specs/agents/process-spec.md
  specs/agents/tracing-api.md
  specs/agents/tracing-distributed-tracing.md
  specs/agents/tracing-instrumentation-db.md
  specs/agents/tracing-instrumentation-graphql.md
  specs/agents/tracing-instrumentation-grpc.md
  specs/agents/tracing-instrumentation-http.md
  specs/agents/tracing-sampling.md
  specs/agents/tracing-spans.md
  specs/agents/tracing-transactions.md
  specs/agents/transport.md
  specs/terminology.md
Labels: agents

#313 Add wildcard matcher tests
  .ci/.jenkins-agents.yml
  tests/agents/json-specs/sql_signature_examples.json
  tests/agents/json-specs/sql_token_examples.json
  tests/agents/json-specs/wildcard_matcher_tests.json
Labels: agents

#325 chore: add an intermediate stage to check for changes
  .ci/Jenkinsfile
Labels: automation

#328 docs: enrich message description for parameter
  .ci/Jenkinsfile
Labels: automation

#299 Add outcome to transactions and spans
  specs/agents/error-tracking.md
  specs/agents/tracing-instrumentation-http.md
  specs/agents/tracing-spans.md
  specs/agents/tracing-transactions.md
Labels: agents

#307 docs/agents: add sampling spec
  specs/agents/tracing-distributed-tracing.md
  specs/agents/tracing-sampling.md
Labels: agents
